.form-signin {
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.register-input {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-clip: padding-box;
}


.error {
    color: red !important;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.login-link {
    margin-top: 1rem;
}

.login-link a {
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
